* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #f6fbfc;
}


.tela-login{
  background-color: #143335;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 50px;
  border-radius: 15px;
  color: white;
  border: 3px solid white !important;
  box-shadow: 5px 5px 10px 2px #8b8383;

}
.login{
  border: 3px solid white;
  padding: 30px;
  border-radius: 15px;
}

.erro-login{
  display: flex;
  justify-content: center;
  font-size: 15px;
  color: red;

}
.login h3{
  font-size: 30px;
  margin-bottom: 15px;
  text-align: center;
}

.login input{
  padding: 15px 45px !important;
  border: none !important;
  outline: none !important;
  width: 100%;
  border-radius: 10px;
}

.login .btn-login{
  border: none;
  width: 100%;
  background-color:#2dadb6;
  border-radius: 10px;
  padding: 15px;
  color: white;
  font-size: 15px;
  font-weight: 400;
}
.btn-login:hover{
  background-color: #088992;;
  cursor: pointer;
}


.nav-bar {
  display: flex;
  background-color: #088992;
  align-items: center;
  height: 6rem;
  margin-bottom: 4rem;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 6rem;
}

.menu > li {
  margin-left: 15px;
  margin-right: 30px;
}

.menu > li > a {
  color: white;
  text-decoration: none;
  font-size: 19px;
}

.menu > li > a:hover {
  border-top: 4px solid white;
  font-size: large;
  font-weight: bold;
}

.logo > img {
  width: 131px;
  margin-left: 5.2rem;
}

#sair a{
  background-color: #e7544a !important;
  border-radius: 5px !important;
  padding: 5px 15px;
  font-size: 16px !important;
}
#sair a:hover{
  border-top: none;
  cursor: pointer;
  
}
.tfooter {
  background-color: #088992;
  height: 11rem;
  background-image: linear-gradient(181deg, #088992, black);
  color: white;
  line-height: 16px;
  width: 100%;
  margin-top: 1.5rem;
}

.rodape {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 5%;
}

.rodape h2 {
  font-size: 30px;
}

.rodape span {
  color: #6ac9cf;
}

header.container {
  display: flex;
  margin-left: 7rem;
  margin-right: 7rem;
  height: 100vh;
  flex-direction: column; 
  
}

.title > h1 {
  color: #0c2324;
  margin-bottom: 11px;
  text-align: center;
  margin-top: 10px;
}

.forms {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.forms > form {
  margin: 20px 20px 0 0;
  width: 100%;
}

label {
  font-weight: 611;
  margin-bottom: 15px;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="email"] {
  width: 100%;
  padding: 5px;
  border-radius: 0.5rem;
  margin-bottom: 15px;
}


input:focus {
  border-color: rgb(87, 87, 194) !important;
  outline: none;
}

input:valid {
  border-color: #5ed368;
  outline: none;
}

.form > select {
  width: 100%;
  padding: 5px;
  display: inline-block;
}

.genero {
  display: inline-block;
  margin: 2px 10px 10px 0px;

}

.botao > button {
  padding: 10px 20px;
  background-color: #209390;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 25px;
}

.botao > button[type="submit"]:hover {
  background-color: #5ed368;
  font-size: 1rem;
}

.botao > button[type="reset"]:hover {
  background-color: #e73a2e;
  font-size: 1rem;
}
.table-container {
  overflow: auto;
  margin-bottom: 35px;
}

table {
  margin-top: 3rem;
  border-collapse: collapse;
  width: 100%;

}

th, td {

  padding: 15px 5px ;
  text-align: center;
}

th {
  background-color: #088992;
  color: white;

}

table tr:nth-child(odd) {
  background-color: #daeeed;
}


.dados {
  background-color: blue;
  color: white;
  font-style: none;
  padding: 10% 12%;
  border-radius: 100%;
  text-decoration: none;

}

.atualizar {
  background-color: #5ed368;
  color: white;
  font-style: none;
  padding: 10% 12%;
  border-radius: 100%;
  text-decoration: none;
}

.remove {
  background-color: #e72e2e;
  color: white;
  font-style: none;
  text-decoration: none;
  padding: 10% 12%;
  border-radius: 100%;
}

.visualizar {
  display: flex;
  flex-direction: column;
  background-color: #e3f5fc;
  padding: 20px;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 1rem;
  -webkit-box-shadow: 4px -1px 17px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px -1px 17px 4px rgba(0, 0, 0, 0.75);
  box-shadow: 4px -1px 17px 4px rgba(0, 0, 0, 0.75);
}

.visualizar-item {
  display: flex;
  flex-direction: row;
  line-height: 35px;
}

.visualizar-item h3 {
  color: #044549;
  font-size: 21px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.visualizar-item > p {
  font-size: 15px;
  font-weight: 400;
}

.btn-remove {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.btn-remove button {
  width: 400px;
  height: 181px;
  margin: 10px;
  font-size: 71px;
  color: white;
  border-radius: 3rem;
  cursor: pointer;
}

#btnApagar {
  background-color: #5ed368;
}

#voltar {
  background-color: #e73a2e;
}

#voltar a {
  text-decoration: none;
  color: white;
}

#btnApagar:hover,
#voltar:hover {
  width: 450px;
  height: 211px;
  filter: brightness(1.1);
  transition: width 0.7s, height 0.7s, filter 0.7s;
}


.barra-pesquisar {
  display: flex;
  flex-direction: row;
}

.barra-pesquisar > input {
  height: 71px;
  border-radius: 0;
  width: calc(100% - 6rem);
  border-radius: 1rem 0 0 1rem;
}

.barra-pesquisar > button {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  width: 8rem;
  height: 71px;
  background-color: #5ed368;
  color: white;
  font-size: 21px;
}



@media (max-width: 768px) {

  .nav.bar{
    height: 10rem;
  }
  .menu {
    margin: 0;
    padding: 0;
    margin-right: 15px;
  }

  .tela-login{
    padding: 20px;
    width: 80%;
  }
  .login{
    padding: 30px;
  }
  .login input{
    padding: 15px 10px !important;
  }

  .menu > li {
    margin-left: 5px;
    margin-right: 10px;
  }

  .menu > li > a {
  
    font-size: 14px !important;
  }
  .title{
    text-align: center;
  }

  .logo > img {
    width: 100px;
    margin-left: 5px;
  }

  header.container {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: -20%;
    height: 90vh;
  }
  
  .forms{
    margin:0;
    margin-top: 10px;
    margin-bottom: 20px;
    overflow: auto; 

  }
  .tfooter{
    height: 15rem;
  }
  .table-container{
    margin-bottom: 90px;
  }
  th{
    padding: 8px;
  }
  td {
     padding: 2px 7px;
  }
  .visualizar{
    overflow: auto; 
    margin-bottom: 100px;
  }
  .visualizar-item {
    flex-direction: column;
    justify-content: center;
  }
 
  .rodape h2{
    margin-top: 65px;
  }

}

